.card{
    border: none;
    width: 500px;
    padding: 40px;
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%, -50%);
    background: rgb(13, 137, 232);
    background: linear-gradient(90deg,rgb(230, 81, 160) 0%,rgb(144, 98, 236)100%);
    
    
}
